*{margin:0;padding:0;}
        body{background: #f2f2f4;}
        .clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
        .clearfix { display: inline-block; }
        * html .clearfix { height: 1%; }
        .clearfix { display: block; }
        .xh-title{height:75px;line-height:75px;text-align:center;font-size:30px;font-weight:300;border-bottom:2px solid #eee;background: #fff;}
        .qrbox{max-width: 900px;margin: 0 auto;padding:85px 20px 20px 50px;}
    
        .qrbox .left{width: 40%;float: left;display: block;margin: 0px auto;}
        .qrbox .left .qrcon{
            border-radius: 10px;
            background: #fff;
            overflow: visible;
            text-align: center;
            padding-top:25px;
            color: #555;
            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .05);
            vertical-align: top;
            -webkit-transition: all .2s linear;
            transition: all .2s linear;
        }
        .qrbox .left .qrcon .logo{width: 100%;}
        .qrbox .left .qrcon .title{font-size: 16px;margin: 10px auto;width: 90%;}
        .qrbox .left .qrcon .price{font-size: 22px;margin: 0px auto;width: 100%;}
        .qrbox .left .qrcon .bottom{border-radius: 0 0 10px 10px;width: 100%;background: #32343d;color: #f2f2f2;padding:15px 0px;text-align: center;font-size: 14px;}
        .qrbox .sys{width: 60%;float: right;text-align: center;padding-top:20px;font-size: 12px;color: #ccc}
        .qrbox img{max-width: 100%;}
        @media (max-width : 767px){
            .qrbox{padding:20px;}
            .qrbox .left{width: 90%;float: none;}
            .qrbox .sys{display: none;}
        }